input {
    font-size: 1em;
    padding: 0.5em;
    margin: 1em;
}

span {
    display: inline-block;
    width: 3em;
    height: 1em;
    border: 1px solid black;
}

.unu {
    background-color: red;
}
.doi {
    background-color: orange;
}
.trei {
    background-color: yellow;
}
.patru {
    background-color: yellowgreen;
}
.cinci {
    background-color: green;
}