h1::before {
    content: "xxx-";
    color: rgb(94, 194, 70);
}

h1::after {
    content: "-xxx";
    color: rgb(94, 194, 70);
}

a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 1.3em;
    font-family: Futura;
    position: relative;
}

a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: orange;
    transform: scaleX(0);
    transition: transform 0.3s;
    width: 100%;
    position: absolute;
}

a:hover::after {
    transform: scaleX(1);
}