meter[value="0"]::-webkit-meter-optimum-value { background-color: red; }
meter[value="1"]::-webkit-meter-optimum-value { background-color: red; }
meter[value="2"]::-webkit-meter-optimum-value { background-color: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background-color: yellow;}
meter[value="4"]::-webkit-meter-optimum-value { background-color: lightgreen; }
meter[value="5"]::-webkit-meter-optimum-value { background-color: green; }