<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>

    <link rel="stylesheet" href="todo.css">
    <script src="todo.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.common.dev.js"></script>

</head>

<body>

    <div id="app">
        <h1>To Do:</h1>
        <ul>
            <li v-for="todo in todos">
                {{ todo }}
            </li>
        </ul>
        <div class="new_task">
            <!-- <div class="new_task_input"> -->
                Task
                <input type="text" v-model="task" @keyup.enter="saveItem">
            </input>
            <div class="save_task">
                <button @click="saveItem">Save Item</button>
            </div>
        </div>
    </div>

</body>

</html>